.payment-done-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e3f2fd;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #1b5e20;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  p {
    color: #4caf50;
    font-size: 1.2rem;
  }
  